body {
    background-color: black;
    color: white;
    font-family: "Noto Sans Warang Citi, sans-serif";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: white;
    color: black;
    font-family: "Noto Sans Warang Citi, sans-serif";
}
